.PostForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #79c5e8;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0px 6px 2px black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

label {
    margin-left: 20px;
    margin-top: 5px;
  }

input {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.post-button {
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0px;
}